@charset "utf-8";

/* ヘッダーアイコン */
.fontawesome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.fas {
  color: #777;
}

.box {
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  color: #fff;
  float: right;
}

.box a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.box a:hover {
  color: #333;
}

/* キービジュアル */
.keyvisual {
  text-align: center;
  background-size: cover;
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  background-image: url("../img/keyvisual/keyvisual.jpg");
}

.main-tittle {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
}

.sub-tittle {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  padding-top: 30px;
}

/* ワークエリア */
.work-area {
  display: flex;
  background-color: #e3f2fd;
}

.work-content {
  display: flex;
  padding-top: 50px;
}

.pic-content {
  flex-basis: 40%;
}

.work-area img {
  width: 250px;
}

.work-tittle {
  font-size: 40px;
  letter-spacing: 10px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}

.text-content {
  flex-basis: 60%;
}

.text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
  text-align: center;
}

/* スキル */
.skills {
  padding-top: 50px;
  padding-bottom: 70px;
}

.tittle {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.items-pic {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.items-pic img  {
  width: 300px;
  height: 300px;
  margin: 50px;
  opacity: 0.7;
  transition: 0.7s;
}

.items-pic img:hover {
  opacity: 1;
}

.items-pic li:nth-child(-n+3) img{
  margin-top: 0;
}

.items-pic li:nth-child(1) img{
  margin-left: 0;
}

.items-pic li:nth-child(3) img{
  margin-right: 0;
}

.items-pic li:nth-child(n+4) img{
  margin-bottom: 0;
}

.items-pic li:nth-child(4) img{
  margin-left: 0;
}

.items-pic li:last-child img{
  margin-right: 0;
}

/* プラン */
.plan {
  background-color: #d0dfea;
  padding-bottom: 50px;
  padding-top: 50px;
}

.cell-table {
  table-layout: fixed;
  margin: 0 auto;
  width: 100%;
}

tr {
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #e0efff;
}

thead th {
  background-color: #6ba7eb;
  padding: 10px;
  border-left: 2px solid #fff;
}

td {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  border-left: 2px solid #fff;
}

.cell-table :first-child {
  border-left: none;
}

/* SNS */
.sns {
  background-color: #e3f2fd;
  padding-top: 200px;
  padding-bottom: 200px;
}


.icon {
  font-size: 40px;
  text-align: center;
}

.icon a {
  color: #8c8c8c;
  text-decoration: none;
  transition: 0.5s;
}

.icon a:hover {
  color: #fff;
}


.fab {
  width: 185px;
}

.fa-solid {
  width: 185px;
}

/* フッター */
footer {
  background-color:#cfd8dc;
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: right;
  padding-right: 200px;
}