@charset "utf-8";

body {
  width: 1100px;
}

.fontawesome {
  background-color: #fff;
}

.fas {
  color: #777;
  padding: 15px;
  position: relative;
  left: 100px;
}

#keyvisual {
  width: 1100px;
}

.box {
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  color: #fff;
  float: right;
  margin: 20px;
}

.main-pic img {
  width: 100%;
}

.main-tittle {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-40%,-40%);
  -webkit-transform: translate(-40%,-40%);
  transform: translate(-50%,-50%);
  padding: 0;
  white-space: nowrap;
}

.sub-tittle {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 400px;
  transform: translate(30%,30%);

}

.work-area {
  background-color: #e3f2fd;
  display: flex;
}

.work-phot {
  width: 250px;
  padding-top: 50px;
}

.tittle {
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
  font-weight: bold;
}

.flex .text {
  margin: 0 0 0 20px;

}

.inner {
  justify-content: space-evenly;
}