@charset "utf-8";

body {
  overflow-x: hidden;
}


h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fontawesome {
  background-color: #fff;
  padding: 15px 180px 15px 100px;
}

.fas {
  color: #777;
  position: relative;
  left: 100px;
}

.box a {
  text-decoration: none;
  color: #fff;
}

.box {
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  color: #fff;
  float: right;
}

.main-pic {
  position: relative;
}

.main-pic img {
  width: 100%;
}

.main-tittle {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  position: absolute;
  top: 45%;
  left: 45%;
  -ms-transform: translate(-45%,-45%);
  -webkit-transform: translate(-45%,-45%);
  transform: translate(-45%,-45%);
  white-space: nowrap;
}

.sub-tittle {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  padding-top: 30px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-25%,-25%);
}


/* ワークエリア */
.work-area {
  display: flex;
  background-color: #e3f2fd;
  width: 100%;
  height: auto;
}

.work-area img {
  display: inline-block;
  width: 250px;
  padding-top: 50px;
  padding-left: 150px;
  position: relative;
  overflow: hidden;
}

.work-content-area {
  margin: 20px 0 0 20px;
  padding: 0 180px;
}

.work-tittle {
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
}

.text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
  text-align: center;
}


/* インナー */
.inner h1 {
  padding-bottom: 0;
}

.tittle {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 50px;
}

.items a {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
}

.items {
  margin: 0 auto;
  width: 75%;
}


.items img {
  width: 300px;
  height: 300px;
  margin: 50px;
}

.items :nth-child(1){
  margin-left: 0;
}

.items :nth-child(4) {
  margin-left: 0;
}

.items :nth-child(3) {
  margin-right: 0;
}

.items :nth-child(6) {
  margin-right: 0;
}


/* プラン */
.plan {
  background-color: #d0dfea;
  padding-bottom: 50px;
}

.cell-table {
  table-layout: fixed;
  margin: 0 auto;
  width: 70%;
}

tr {
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #e0efff;
}

th {
  background-color: #6ba7eb;
  padding: 10px;
  border-left: 2px solid #fff;
}

td {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  border-left: 2px solid #fff;
}

.cell-table :first-child {
  border-left: none;
}

/* SNS */
.sns {
  background-color: #e3f2fd;
  padding-top: 200px;
  padding-bottom: 200px;
}

.center {
  overflow: hidden;
  font-size: 40px;
  text-align: center;
}

.center a {
  color: #8c8c8c;
  text-decoration: none;
}

.fab {
  width: 185px;
}

.fa-solid {
  width: 185px;
}

/* フッター */
.back-color {
  background-color:#cfd8dc;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0.5px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #cfd8dc;
  width: 100%;
  text-align: right;
}